/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #8dc63f;
    background-color: #2b3e50;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.h1 {
    color: #8dc63f;
}

.header {}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
}
/* Customize container */

.container {
    background-color: #2b3e50;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 10px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }
}
/*Register form css */

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 50px;
}

.form-signin .form-signin-heading,
.form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
}

.main-alert {
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 5px;
    right: 5px;
}

.alert-hidden {
    visibility: hidden;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter,
[ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

[ui-view].ng-enter {
    opacity: 0;
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);
}

[ui-view].ng-enter-active {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

[ui-view].ng-leave {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
    opacity: 0;
}

.nav-tabs > li {
    /* width = (100 / number of tabs). This example assumes 3 tabs. */
    
    align-content: center;
    width: 14.2%;
}

.nav-tabs > li > a {
    color: #ebebeb;
    padding-left: 35px;
}

.roundrect {
    border-radius: 15px;
    height: 50px;
    width: 50px;
}
/* override select drop down background  */

.text-muted {
    color: #8dc63f;
}