<div>
    <span style="position: absolute;display: block;top: 50%;left: 50%;" us-spinner="{radius:20, width:8, length: 16, color:'#8dc63f'}" spinner-key="createSpin" spinner-start-active="false"></span>
</div>
<form ng-submit="submit()" name="addride" class="form" novalidate>
    <h3 class="form-signin-heading">Add a ride to team {{bunch.name}}. </h3>
    <hr>
    <input name="name" ng-model="name" type="text" class="form-control" placeholder="Name of ride" required />
    <div class="btn-group">
        <h4>Is this a one off ride? {{oneoffradio || 'null'}}</h4>
        <label class="btn btn-success" ng-model="oneoffradio" btn-radio="'Yes'">Yes</label>
        <label class="btn btn-success" ng-model="oneoffradio" btn-radio="'No'">No</label>
    </div>
    <div ng-hide="oneoffradio == 'Yes'">
        <h4>Days of week</h4>
        <ui-select multiple ng-model="multipleSelect.days" theme="bootstrap" ng-disabled="disabled" style="width: 300px;">
            <ui-select-match placeholder="Select days...">{{$item}}</ui-select-match>
            <ui-select-choices repeat="day in availableDays | filter:$select.search">
                {{day}}
            </ui-select-choices>
        </ui-select>
        <p></p>
    </div>
    <p></p>
    <div>
        <h4>Time of ride</h4>
        <timepicker ng-model="time" hour-step="1" minute-step="15"></timepicker>
    </div>
    <div ng-hide="oneoffradio == 'No'">
        <h4>Date of ride</h4>
        <div style="display:inline-block; min-height:290px;">
            <datepicker ng-model="oneoffdate" init-date="minDate" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
        </div>
        <pre>Date of ride is: <em>{{oneoffdate | date:'fullDate' }}</em></pre>
    </div>
    </p>
    </div>
    <p></p>
    <h4>Routes</h4>

    <button ng-show="custombutton" type="button" ng-disabled="" class="btn btn-success" ng-click="addStravaRoute();">Add a Strava Route</button>
    <button ng-show="stravabutton" type="button" ng-disabled="" class="btn btn-success" ng-click="addCustomRoute();">Add a Custom Route</button>

    <div ng-show="isstravaauth && showmap && strava">
        <hr>
        <h4>Strava Route</h4>
        <!--<div>{{stravaride.selected.map.summary_polyline}}</div>-->
        <ui-select theme="bootstrap" ng-model="stravaride.selected" on-select="getStravaRoute()">
            <ui-select-match placeholder="Select strava activity...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="stravaride in stravarides | filter:{ name: $select.search }">
                <div ng-bind-html="stravaride.name"></div>
            </ui-select-choices>
        </ui-select>

        <div>
            <leaflet id="stravamap" center="cen" paths="paths" layers="layers" height="380px"></leaflet>
        </div>
        <p></p>
        <button type="button" ng-disabled="stravaride.selected == undefined" class="btn btn-success" ng-click="addRoute();">{{routeButtonStrava}}</button>
    </div>

    <p></p>

    <div ng-show="!isstravaauth && strava">
        <div ng-show="isstravaauth && !showmap">Loading strava routes......
        </div>
        <div>
            <button type="button" class="btn btn-success" ng-click="stravaAuth();">Login with strava to add strava routes</button>
        </div>
    </div>
    <p></p>
    <p></p>
    <div ng-show="custom">
        <span><input class="form-control" ng-model="routename" name="routename" type="text" placeholder="{{routePlaceholder}}" ></span>
        <p></p>
        <button type="button" ng-disabled="!addride.routename.$dirty" class="btn btn-success" ng-click="addRouteNonStrava();">{{routeButton}}</button>
    </div>
    <div ng-show="routes.length > 0">
        <hr>
        <h4>Routes for team {{bunch.name}}</h4>
    </div>

    <div class="container">
        <div ng-repeat="route in routes">
            <div class="row">
                <p></p>
                <div class="col-lg-6">
                    <span><input class="form-control" type="text" ng-model="route.name"></span>
                </div>
                <div class="pull-right col-lg-6">
                    <button ng-click="deleteRoute($index)" class="pull-left btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p></p>
    <button ng-click="" ng-disabled="addride.$invalid" class="btn btn-lg btn-success btn-block" type="submit">
        {{addRideButton}} {{bunch.name}}
    </button>
    <button ng-click="done()" class="btn btn-lg btn-success btn-block" type="button">
        Done
    </button>
</form>