<span style="position: absolute;display: block;top: 50%;left: 50%;" us-spinner="{radius:20, width:8, length: 16, color:'#8dc63f'}" spinner-key="loginSpin" spinner-start-active="false"></span>
<hr>
<div>
    <h3>Attending and Comments</h3>
</div>
<h3>Comments</h3>
<hr>
<div class="container">
    <div>
        <ul>
            <div class="row" ng-repeat="comment in comments">
                <li>
                    <div class="commenterImage">
                        <img src={{comment.imageurl}} />
                    </div>
                    <div class="commentText">
                        <p class="">{{comment.comment}}</p>
                        <!--<span class="date sub-text">on March 5th, 2014</span>-->
                    </div>
                </li>
            </div>
        </ul>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" name="comment" ng-model="comment" type="text" placeholder="Your comments" />
            </div>
            <div class="form-group">
                <button ng-click="addComment()" class="btn btn-default">Add</button>
            </div>
        </form>
    </div>
</div>