<span style="position: absolute;display: block;top: 50%;left: 50%;" us-spinner="{radius:20, width:8, length: 16, color:'#8dc63f'}" spinner-key="loginSpin" spinner-start-active="false"></span>
<hr>
<button ng-click="addBunch()" class="btn btn-block btn-success">Create a bunch</button>
<p></p>
<input class="form-control" ng-model="searchText" placeholder="Search...">
<div ng-show="bunches.length > 0">
    <h3>My bunches</h3>
    <hr>
</div>
<div ng-show="bunches.length <= 0">
    <h3>You have no bunches!</h3>
    <p>Create a bunch and then add some rides!</p>
</div>
<div class="row" ng-repeat="bunch in bunches | filter:searchText">
    <div class="container">
        <div class="col-md-8">
            <h3>{{bunch.name}}</h3>
            <p>{{bunch.desc}}</p>
            <p>Ability: {{bunch.ability}}</p>
            <p>Policy: {{bunch.policy}}</p>
        </div>
        <div class="col-md-4">
            <h4 class="">Rides</h4>
            <div class="" ng-repeat="ride in bunch.ridedetails ">
                <p>
                    {{ride.name}}
                </p>
            </div>
            <div class="">
                <button ng-click="addRide(bunch) " class="pull-left btn btn-success ">Add a ride</button>
            </div>
        </div>
        <div class="col-md-12">
            <button ng-click="addRide(bunch) " class="pull-left btn btn-success ">Edit bunch</button>
        </div>
    </div>
    <br>
    <br>
    <hr>
</div>